.destination-bg{
    background-image: url(../../assets/images/Destination-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 40rem;
}
.destination-bg::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #101010b0;
}
.destination-bg::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    background: url(../../assets/images/banner-pattern.png) bottom center repeat-x;
    height: 39px;
    z-index: 1;
    background-repeat: repeat-x;
    animation: 80s linear 0s infinite normal none running bg-slide;
}

@keyframes bg-slide{
    0% {
        background-position: 0 0;
    }
    
    100% {
        background-position: 3000px 0;
    }
}

.destination-bg h4{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1.25rem;
}
.country-info{
    position: relative;
    top: 20%;
}
.country-info img{
    position: absolute;
    opacity: 0.15;
    top: 2rem;
    height: 25rem;
}
.country-info .country-details{
    position: absolute;
    z-index: 10;
}

.country-image {
    width: 25rem;
    height: 25rem;
    margin: 0 auto;
}
@media only screen and (max-width: 600px) {
    .destination-bg h4{
        letter-spacing: 0.5rem;
        font-size: 2.5rem;
    }
    .country-info{
        margin-bottom: 350px;
    }
    .country-image {
        width: 25rem;
        height: 6rem;
        margin: 0 auto;
    }
    .country-info img{
        height: 20rem;
    }
}